.Header-Main-Container {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header-SubContainer-Row-Align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 100px 0;
}

.Header-SubContainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 45%;
}

.Header-SubContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 45%;
}

.Header-Container-Column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.Header-SubContainer-Heading-Text {
  font-size: 65px;
  color: #06213C;
  font-weight: 400;
  font-family: "Kaisei Decol", serif;
  margin-top: 100px;
}
.Header-SubContainer-Description {
  width: 400px;
  font-size: 24px;
  color: #06213C;
  font-weight: 400;
  font-family: "Kaisei Decol", serif;
  line-height: 40px;
}
.Header-Visit-Btn {
  width: 200px;
  height: 50px;
  background-color: #06213c;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kaisei Decol", serif;
}
.Header-Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
