@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    section {
        @apply py-12 md:py-28 space-y-5 md:space-y-10;
    }

    input {
        @apply text-lg md:text-2xl text-[#B3B3B3] py-3 md:py-5 px-4 md:px-8 rounded-xl
    }

    textarea{
        @apply text-lg md:text-2xl text-[#B3B3B3] py-3 md:py-5 px-4 md:px-8 rounded-xl
    }
}